[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
django = "*"
django-recaptcha2 = "*"
djangorestframework = "*"
django-storages = "*"
django-widget-tweaks = "*"
gunicorn = "*"
Jinja2 = "*"
pillow = "*"
python-decouple = "*"
python-dotenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
requests = "*"
slack-sansio = "*"
"slack-sansio[requests]" = "*"

[requires]
python_version = "3.6"

[dev-packages]
django-debug-toolbar = "*"
