.invalid, .errorlist {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    text-align: left;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.nav-link {
    padding-bottom: 0;
    margin-bottom: .2rem;
}

.auth-card {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}