### pyback.env ###

# RECAPTCHA_PUBLIC_KEY=
# RECAPTCHA_PRIVATE_KEY=

# GITHUB_JWT=
# GITHUB_REPO=

# SLACK_TOKEN=
# BOT_NAME=

# DEBUG=True

# DB_ENGINE=
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=

# AWS_STORAGE_BUCKET_NAME=
# BUCKET_REGION_NAME=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=


# --------------------------- #
### pybot.env ###

# APP_TOKEN=
# SLACK_TOKEN=
# SLACK_VERIFY=
# SLACK_BOT_ID=
# SLACK_BOT_USER_ID=


# PYBACK_PORT=
# PYBACK_HOST=

# COMMUNITY_CHANNEL=
# MENTORS_CHANNEL=

# AIRTABLE_API_KEY=
# AIRTABLE_BASE_KEY=

# PYBACK_TOKEN=

# --------------------------- #
### ngrok.env ###

# NGROK_AUTH=
# NGROK_SUBDOMAIN=